<% if current_user %>
	<h1> Reply to a peep </h1>
		<div class="jumbotron container fluid">
			<form action='/peeps/makereply' method='post'>
				Message: <input type='text' name='message'>
				<input type='submit' class="btn btn-default" value='Add peep'>
				<input type='hidden' name='initialpeep_id' value='<%=@initialpeep_id%>'>
			</form>
		</div>
	<% else %>
		<a href="/users/new" id="sign-up">Sign Up</a>
		<a href="/sessions/new" id="sign-in">Sign In</a>
<% end %>